/* styles/IntroAnimation.module.css */
.intro {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	z-index: 1000;
  }
  
  .animationContent {
	text-align: center;
  }
  
  .ourButton {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #298BF2;
	color: white;
	border: none;
	cursor: pointer;
  }